body, html {
    padding: 0;
    margin: 0;
}

.w3-content {
    width: 1000px;
}

div#wrapper {
    width: 1100px;
    overflow: hidden;
    margin: 0 auto;
}

div#header {
    z-index: 1;
}

#logo-top {
    max-width: 200px;
    margin-top: -10px;
}

ul {
    position: relative;
    display: block;
    list-style-type: none;
    top: 20px;
    margin-right: 10px;
    padding: 0;
    overflow: hidden;
    float: right;
}

li {
    float: left;
    margin: 0 5px;
    border-right: solid 1px black;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
    text-decoration: none;
}

.active {
    background-color: orange;
    border-radius: 10px;
}

.mySlides {
    max-height: 500px !important;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -1000;
}

input[type=text] {
    top: 20px;
    width: 150px;
    box-sizing: border-box;
    border:none;
    border-radius: 25px;
    font-size: 12px;
    background-color: orange;
    background-image: url('img/search.png');
    background-position: 7px 5px; 
    background-repeat: no-repeat;
    padding: 5px 0;
}
